In [1]:
import requests
import pandas as pd
import numpy as np
import os
import pprint
import json
import time

from flask import Flask, render_template, redirect
import pymongo

In [2]:
postcode_path = "./Aust Postcode Location/Australian_Post_Codes_Lat_Lon.csv"
postcode = pd.read_csv(postcode_path)

In [3]:
#Dataframes for postcode long lat list
postcodeDF = pd.DataFrame(postcode)
#Dataframes for final suburbs list
postcodeDF['suburb'] = postcodeDF['suburb'].str.lower()
postcodeDF['type'] = postcodeDF['type'].str.rstrip()
postcodeDF['type'] = postcodeDF['type'].str.lstrip()
postcodeDF.head()

,postcode,suburb,state,dc,type,lat,lon
0,200,australian national university,ACT,AUSTRALIAN NATIONAL UNI LPO,Post Office Boxes,-35.277272,149.117136
1,221,barton,ACT,NaN,LVR,-35.201372,149.095065
2,800,darwin,NT,DARWIN DELIVERY CENTRE,Delivery Area,-12.801028,130.955789
3,801,darwin,NT,DARWIN DELIVERY CENTRE,Post Office Boxes,-12.801028,130.955789
4,804,parap,NT,PARAP,Post Office Boxes,-12.432181,130.843310

In [4]:
# Get names of indexes for which column state doesn not equal VIC
#indexNames = postcodeDF[ postcodeDF['state'] != "VIC" ].index
vicpostcode_df=postcodeDF[(postcodeDF['state'] == "VIC") & (postcodeDF['type'] == "Delivery Area")]

In [5]:
vic_loc_geo_url="https://data.gov.au/geoserver/vic-suburb-locality-boundaries-psma-administrative-boundaries/wfs?request=GetFeature&typeName=ckan_af33dd8c_0534_4e18_9245_fc64440f742e&outputFormat=json"
response = requests.get(vic_loc_geo_url)

In [6]:
response_json = response.json()

In [7]:
suburb_list=[]
for loc in response_json["features"]:
    suburb_list.append(loc["properties"]["vic_loca_2"].lower())

In [8]:
vicpostcode_df=postcodeDF[(postcodeDF['state'] == "VIC") & 
                          (postcodeDF['type'] == "Delivery Area") &
                          (postcodeDF['suburb'].isin(suburb_list))]
vicsuburb_df=vicpostcode_df.drop_duplicates(subset=['suburb'])
vicsuburb_df.reset_index(drop=True,inplace=True)
vicsuburb_df.head()

,postcode,suburb,state,dc,type,lat,lon
0,3000,melbourne,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.814563,144.970267
1,3002,east melbourne,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.816640,144.987811
2,3003,west melbourne,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.806255,144.941123
3,3006,southbank,VIC,SOUTH MELBOURNE DC,Delivery Area,-37.823258,144.965926
4,3008,docklands,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.814719,144.948039
...,...,...,...,...,...,...,...
2822,3995,wattle bank,VIC,WONTHAGGI,Delivery Area,-38.576309,145.700931
2823,3995,wonthaggi,VIC,WONTHAGGI,Delivery Area,-38.606312,145.588583
2824,3995,woolamai,VIC,WONTHAGGI,Delivery Area,-38.498651,145.520561
2825,3996,inverloch,VIC,INVERLOCH,Delivery Area,-38.632958,145.729641
2826,3996,pound creek,VIC,INVERLOCH,Delivery Area,-38.627873,145.808696

In [9]:
lga_postcode_df_path="LGA(councils)_postcode(POA)/LocalityFinder.xlsx"
lga_postcode_df = pd.read_excel(lga_postcode_df_path,skiprows=2,usecols = "B,C,H")

In [10]:
lga_col_list=lga_postcode_df.columns.to_list()
lga_new_lest=['postcode','Local Government Area','Region']
lga_postcode_df=lga_postcode_df.rename(columns=dict(zip(lga_col_list,lga_new_lest)))

In [11]:
lga_postcode_df=lga_postcode_df.drop_duplicates(subset=['postcode'])
lga_postcode_df=lga_postcode_df.sort_values(by=['postcode'])
lga_postcode_df=lga_postcode_df.reset_index(drop=True)

In [12]:
lga_postcode_df['Local Government Area']=lga_postcode_df['Local Government Area'].str.split(' Shire').str[0]
lga_postcode_df['Local Government Area']=lga_postcode_df['Local Government Area'].str.split(' City').str[0]
lga_postcode_df['Local Government Area']=lga_postcode_df['Local Government Area'].str.split(' Council').str[0]
lga_postcode_df['Local Government Area']=lga_postcode_df['Local Government Area'].str.split(' Rural').str[0]

In [13]:
vicsuburbLGA_df=vicsuburb_df.merge(lga_postcode_df,how='left',on=['postcode'])
vicsuburbLGA_df.head()

,postcode,suburb,state,dc,type,lat,lon,Local Government Area,Region
0,3000,melbourne,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.814563,144.970267,Melbourne,Northern Metropolitan
1,3002,east melbourne,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.816640,144.987811,Melbourne,Northern Metropolitan
2,3003,west melbourne,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.806255,144.941123,Melbourne,Northern Metropolitan
3,3006,southbank,VIC,SOUTH MELBOURNE DC,Delivery Area,-37.823258,144.965926,Melbourne,Southern Metropolitan
4,3008,docklands,VIC,CITY DELIVERY CENTRE,Delivery Area,-37.814719,144.948039,Melbourne,Southern Metropolitan
...,...,...,...,...,...,...,...,...,...
2822,3995,wattle bank,VIC,WONTHAGGI,Delivery Area,-38.576309,145.700931,Bass Coast,Eastern Victoria
2823,3995,wonthaggi,VIC,WONTHAGGI,Delivery Area,-38.606312,145.588583,Bass Coast,Eastern Victoria
2824,3995,woolamai,VIC,WONTHAGGI,Delivery Area,-38.498651,145.520561,Bass Coast,Eastern Victoria
2825,3996,inverloch,VIC,INVERLOCH,Delivery Area,-38.632958,145.729641,Bass Coast,Eastern Victoria
2826,3996,pound creek,VIC,INVERLOCH,Delivery Area,-38.627873,145.808696,Bass Coast,Eastern Victoria

In [14]:
vicsuburbLGA_df[vicsuburbLGA_df['Local Government Area'].isnull()]

,postcode,suburb,state,dc,type,lat,lon,Local Government Area,Region
2019,3694,bandiana,VIC,WODONGA,Delivery Area,-36.141317,146.916596,NaN,NaN

In [15]:
vicsuburbLGA_df.iloc[2019, vicsuburbLGA_df.columns.get_loc('postcode')] = 3691
vicsuburbLGA_df.iloc[2019, vicsuburbLGA_df.columns.get_loc('Region')] = 'Northern Victoria'
vicsuburbLGA_df.iloc[2019, vicsuburbLGA_df.columns.get_loc('Local Government Area')] = 'Wodonga'
#vicsuburbLGA_df[2019]['postcode']=3691
#vicsuburbLGA_df[2019]['Region']='Northern Victoria'
#vicsuburbLGA_df[2019]['Local Government Area']='Wodonga'

In [16]:
vicsuburbLGA_df=vicsuburbLGA_df.drop(columns=['state','dc','type'])

In [59]:
vicsuburbLGA_df.head(3)

,postcode,suburb,lat,lon,Local Government Area,Region
0,3000,melbourne,-37.814563,144.970267,Melbourne,Northern Metropolitan
1,3002,east melbourne,-37.816640,144.987811,Melbourne,Northern Metropolitan
2,3003,west melbourne,-37.806255,144.941123,Melbourne,Northern Metropolitan

In [18]:
#Define path to downloaded Excel for crime data
crimeratepath = "Crime rate/Data_Tables_LGA_Criminal_Incidents_Year_Ending_September_2020.xlsx"
#Create dataframe for crime data - Can take a couple of minutes to read
crimerateDF = pd.read_excel(crimeratepath, sheet_name = "Table 03")
crimerateDF.head()

,Year,Year ending,Local Government Area,Postcode,Suburb/Town Name,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2020,September,Alpine,3691,Dederang,B Property and deception offences,B40 Theft,B41 Motor vehicle theft,1
1,2020,September,Alpine,3691,Glen Creek,C Drug offences,C30 Drug use and possession,C32 Drug possession,1
2,2020,September,Alpine,3691,Glen Creek,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,1
3,2020,September,Alpine,3691,Gundowring,B Property and deception offences,B40 Theft,B49 Other theft,1
4,2020,September,Alpine,3691,Gundowring,E Justice procedures offences,E10 Justice procedures,E13 Resist or hinder officer,1

In [58]:
#As suburbs had duplicate postcodes, merging by postcodes caused issues, Determined best to merge via suburbs
#Needed to format crime dataframe in preparation
crimerateDF2 = crimerateDF.rename(columns={"Suburb/Town Name":"suburb","Postcode":"postcode"})
crimerateDF2['suburb'] = crimerateDF2['suburb'].str.lower()
crimerateDF2.head(3)

,Year,Year ending,Local Government Area,postcode,suburb,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded
0,2020,September,Alpine,3691,dederang,B Property and deception offences,B40 Theft,B41 Motor vehicle theft,1
1,2020,September,Alpine,3691,glen creek,C Drug offences,C30 Drug use and possession,C32 Drug possession,1
2,2020,September,Alpine,3691,glen creek,F Other offences,F90 Miscellaneous offences,F93 Cruelty to animals,1

In [20]:
crimetype=crimerateDF2[['Offence Division','Offence Subdivision']]
crimetypeDF=crimetype.groupby(['Offence Division','Offence Subdivision']).count()
crimetypeDF.head()

Empty DataFrame
Columns: []
Index: [(A Crimes against the person, A20 Assault and related offences), (A Crimes against the person, A50 Robbery), (A Crimes against the person, A70 Stalking, harassment and threatening behaviour), (A Crimes against the person, A80 Dangerous and negligent acts endangering people), (A Crimes against the person, Other crimes against the person)]

In [21]:
crimetypeDFreset = crimetypeDF.reset_index(level=['Offence Division', 'Offence Subdivision'])
crimetypeDFreset = crimetypeDFreset[['Offence Subdivision', 'Offence Division']]
crimetypeDFreset[['Offence Subdivision code','Offence Subdivision']] = crimetypeDFreset["Offence Subdivision"].str.split(" ", 1, expand=True)
crimetypeDFreset[['Offence Division code','Offence Division']] = crimetypeDFreset["Offence Division"].str.split(" ", 1, expand=True)
crimetypeDFreset=crimetypeDFreset[['Offence Subdivision code','Offence Subdivision','Offence Division code','Offence Division']]
crimetypeDFreset.head()

,Offence Subdivision code,Offence Subdivision,Offence Division code,Offence Division
0,A20,Assault and related offences,A,Crimes against the person
1,A50,Robbery,A,Crimes against the person
2,A70,"Stalking, harassment and threatening behaviour",A,Crimes against the person
3,A80,Dangerous and negligent acts endangering people,A,Crimes against the person
4,Other,crimes against the person,A,Crimes against the person

In [23]:
crimetypeDFreset.iloc[4, crimetypeDFreset.columns.get_loc('Offence Subdivision code')] = 'A90'
crimetypeDFreset.iloc[4, crimetypeDFreset.columns.get_loc('Offence Subdivision')] = 'Other crimes against the person'
crimetypeDFreset.head()

,Offence Subdivision code,Offence Subdivision,Offence Division code,Offence Division
0,A20,Assault and related offences,A,Crimes against the person
1,A50,Robbery,A,Crimes against the person
2,A70,"Stalking, harassment and threatening behaviour",A,Crimes against the person
3,A80,Dangerous and negligent acts endangering people,A,Crimes against the person
4,A90,Other crimes against the person,A,Crimes against the person

In [27]:
#To aggregate lowest categetory of offences into nxxt category up, grouping is required
crimegrouping = crimerateDF2.groupby(['Year', 'Local Government Area', 'postcode', 'suburb', 
                                         'Offence Subdivision'])
#Add all related offence subdivisons by year
CrimeSum = crimegrouping['Incidents Recorded'].sum()
CrimeSumDFindex = pd.DataFrame(CrimeSum)
CrimeSumDFindex

                                                                                        Incidents Recorded
Year Local Government Area postcode suburb        Offence Subdivision
2011 Alpine                3691     dederang      A20 Assault and related offences                       1
                                                  B40 Theft                                              1
                                                  D20 Disorderly and offensive conduct                   1
                                    kancoona      B20 Property damage                                    1
                                                  F90 Miscellaneous offences                             1
...                                                                                                    ...
2020 Yarriambiack          3488     speed         A20 Assault and related offences                       1
                                                  B50 Deception                                          1
                           3491     patchewollock A20 Assault and related offences                       1
                                                  B20 Property damage                                    1
                                                  D10 Weapons and explosives offences                    1

[167490 rows x 1 columns]

In [31]:
#To aggregate lowest categetory of offences into nxxt category up, grouping is required
CrimeSumDFindex = crimerateDF2.groupby(['Year', 'Local Government Area', 'postcode', 'suburb', 'Offence Subdivision']).sum()
CrimeSumDFindex

                                                                                        Incidents Recorded
Year Local Government Area postcode suburb        Offence Subdivision
2011 Alpine                3691     dederang      A20 Assault and related offences                       1
                                                  B40 Theft                                              1
                                                  D20 Disorderly and offensive conduct                   1
                                    kancoona      B20 Property damage                                    1
                                                  F90 Miscellaneous offences                             1
...                                                                                                    ...
2020 Yarriambiack          3488     speed         A20 Assault and related offences                       1
                                                  B50 Deception                                          1
                           3491     patchewollock A20 Assault and related offences                       1
                                                  B20 Property damage                                    1
                                                  D10 Weapons and explosives offences                    1

[167490 rows x 1 columns]

In [33]:
#Convert multi-index dataframe to single-index
CrimeSumDFreset = CrimeSumDFindex.reset_index(level=['Year', 'Local Government Area', 'postcode', 'suburb', 'Offence Subdivision'])
CrimeSumDFreset.head()

,Year,Local Government Area,postcode,suburb,Offence Subdivision,Incidents Recorded
0,2011,Alpine,3691,dederang,A20 Assault and related offences,1
1,2011,Alpine,3691,dederang,B40 Theft,1
2,2011,Alpine,3691,dederang,D20 Disorderly and offensive conduct,1
3,2011,Alpine,3691,kancoona,B20 Property damage,1
4,2011,Alpine,3691,kancoona,F90 Miscellaneous offences,1

In [34]:
CrimeSumDFreset[['Offence Code','Offence Subdivision']] = CrimeSumDFreset["Offence Subdivision"].str.split(" ", 1, expand=True)
CrimeSumDFreset=CrimeSumDFreset[['Year','Local Government Area','postcode','suburb','Offence Code','Incidents Recorded']]
CrimeSumDFreset.head()

,Year,Local Government Area,postcode,suburb,Offence Code,Incidents Recorded
0,2011,Alpine,3691,dederang,A20,1
1,2011,Alpine,3691,dederang,B40,1
2,2011,Alpine,3691,dederang,D20,1
3,2011,Alpine,3691,kancoona,B20,1
4,2011,Alpine,3691,kancoona,F90,1

In [35]:
CrimeSumDFreset.loc[(CrimeSumDFreset['Offence Code'] == 'Other'),'Offence Code']='A90'
CrimeSumDFreset.head()

,Year,Local Government Area,postcode,suburb,Offence Code,Incidents Recorded
0,2011,Alpine,3691,dederang,A20,1
1,2011,Alpine,3691,dederang,B40,1
2,2011,Alpine,3691,dederang,D20,1
3,2011,Alpine,3691,kancoona,B20,1
4,2011,Alpine,3691,kancoona,F90,1

In [47]:
CrimeSumDFPivot=CrimeSumDFreset.pivot(index=['Year', 'Local Government Area', 'postcode', 'suburb'], 
                                      columns='Offence Code', values='Incidents Recorded')
CrimeSumDFPivot.head()

Offence Code                                          A20  A50  A70  A80  A90  \
Year Local Government Area postcode suburb
2011 Alpine                3691     dederang          1.0  NaN  NaN  NaN  NaN
                                    kancoona          NaN  NaN  NaN  NaN  NaN
                                    upper gundowring  NaN  NaN  NaN  NaN  NaN
                           3698     tawonga south     NaN  NaN  NaN  NaN  1.0
                           3699     mount beauty      1.0  NaN  NaN  NaN  NaN

Offence Code                                          B10  B20  B30  B40  B50  \
Year Local Government Area postcode suburb
2011 Alpine                3691     dederang          NaN  NaN  NaN  1.0  NaN
                                    kancoona          NaN  1.0  NaN  NaN  NaN
                                    upper gundowring  NaN  NaN  NaN  NaN  1.0
                           3698     tawonga south     NaN  2.0  1.0  NaN  NaN
                           3699     mount beauty      1.0  3.0  NaN  3.0  NaN

Offence Code                                          ...  D10  D20  D30  D40  \
Year Local Government Area postcode suburb            ...
2011 Alpine                3691     dederang          ...  NaN  1.0  NaN  NaN
                                    kancoona          ...  NaN  NaN  NaN  NaN
                                    upper gundowring  ...  NaN  NaN  NaN  NaN
                           3698     tawonga south     ...  NaN  NaN  NaN  NaN
                           3699     mount beauty      ...  NaN  1.0  NaN  NaN

Offence Code                                          E10  E20  F10  F20  F30  \
Year Local Government Area postcode suburb
2011 Alpine                3691     dederang          NaN  NaN  NaN  NaN  NaN
                                    kancoona          NaN  NaN  NaN  NaN  NaN
                                    upper gundowring  NaN  NaN  NaN  NaN  NaN
                           3698     tawonga south     NaN  NaN  NaN  NaN  NaN
                           3699     mount beauty      NaN  1.0  NaN  NaN  NaN

Offence Code                                          F90
Year Local Government Area postcode suburb
2011 Alpine                3691     dederang          NaN
                                    kancoona          1.0
                                    upper gundowring  NaN
                           3698     tawonga south     NaN
                           3699     mount beauty      1.0

[5 rows x 25 columns]

In [38]:
#Convert multi-index dataframe to single-index
CrimeSumDFPivotreset = CrimeSumDFPivot.reset_index(level=['Year', 'Local Government Area', 'postcode', 'suburb'])
CrimeSumDFPivotreset=CrimeSumDFPivotreset.fillna(0)
CrimeSumDFPivotreset.columns.name = None
CrimeSumDFPivotreset

,Year,Local Government Area,postcode,suburb,A20,A50,A70,A80,A90,B10,...,D10,D20,D30,D40,E10,E20,F10,F20,F30,F90
0,2011,Alpine,3691,dederang,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2011,Alpine,3691,kancoona,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2011,Alpine,3691,upper gundowring,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011,Alpine,3698,tawonga south,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011,Alpine,3699,mount beauty,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24201,2020,Yarriambiack,3480,areegra,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24202,2020,Yarriambiack,3485,woomelang,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24203,2020,Yarriambiack,3487,lascelles,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24204,2020,Yarriambiack,3488,speed,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24205,2020,Yarriambiack,3491,patchewollock,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [39]:
CrimeCol=CrimeSumDFPivotreset.columns.tolist()
CrimeList=CrimeCol[4:len(CrimeCol)]

In [60]:
for item in CrimeList:
    CrimeSumDFPivotreset[item]=CrimeSumDFPivotreset[item].astype(int)
CrimeSumDFPivotreset.head(3)

,Year,Local Government Area,postcode,suburb,A20,A50,A70,A80,A90,B10,...,D10,D20,D30,D40,E10,E20,F10,F20,F30,F90
0,2011,Alpine,3691,dederang,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,2011,Alpine,3691,kancoona,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2011,Alpine,3691,upper gundowring,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
CrimeDF=[]
for year in range(2011,2021):
    CrimeDF.append(CrimeSumDFPivotreset[CrimeSumDFPivotreset['Year']==year])

In [45]:
for idx in range(len(CrimeDF)):
    CrimeDF[idx]=vicsuburbLGA_df.merge(CrimeDF[idx],how='left',on=['postcode','suburb'])
    CrimeDF[idx]=CrimeDF[idx].drop_duplicates(subset=['postcode','suburb'])
    CrimeDF[idx]['Year']=CrimeDF[idx]['Year'].fillna(idx+2011)
    CrimeDF[idx]['Year']=CrimeDF[idx]['Year'].astype(int)
    CrimeDF[idx]=CrimeDF[idx].fillna(0)
    for item in CrimeList:
        CrimeDF[idx][item]=CrimeDF[idx][item].astype(int)

In [61]:
CrimeSuburbYearDF=pd.concat(CrimeDF, ignore_index=True)
CrimeSuburbYearDF.head(3)

,postcode,suburb,lat,lon,Local Government Area_x,Region,Year,Local Government Area_y,A20,A50,...,D10,D20,D30,D40,E10,E20,F10,F20,F30,F90
0,3000,melbourne,-37.814563,144.970267,Melbourne,Northern Metropolitan,2011,Melbourne,1032,116,...,232,3433,93,6,146,1064,0,13,36,3
1,3002,east melbourne,-37.816640,144.987811,Melbourne,Northern Metropolitan,2011,Melbourne,53,12,...,12,128,9,0,6,5,0,0,9,0
2,3003,west melbourne,-37.806255,144.941123,Melbourne,Northern Metropolitan,2011,Melbourne,54,9,...,20,81,6,0,3,3,0,2,1,2

In [48]:
CrimeSuburbYearDF['Local Government Area_x'].unique()

array(['Melbourne', 'Maribyrnong', 'Brimbank', 'Hobsons Bay', 'Melton',
       'Wyndham', 'Moonee Valley', 'Hume', 'Moreland', 'Darebin', 'Yarra',
       'Whittlesea', 'Banyule', 'Nillumbik', 'Boroondara', 'Manningham',
       'Yarra Ranges', 'Monash', 'Whitehorse', 'Maroondah', 'Stonnington',
       'Glen Eira', 'Knox', 'Cardinia', 'Kingston', 'Greater Dandenong',
       'Casey', 'Port Phillip', 'Bayside', 'Frankston', 'Greater Geelong',
       'Surf Coast', 'Colac Otway', 'Corangamite', 'Moyne', 'Glenelg',
       'Ararat', 'Southern Grampians', 'West Wimmera', 'Golden Plains',
       'Moorabool', 'Ballarat', 'Hepburn', 'Central Goldfields',
       'Pyrenees', 'Northern Grampians', 'Horsham', 'Yarriambiack',
       'Hindmarsh', 'Macedon Ranges', 'Mount Alexander', 'Buloke',
       'Mildura', 'Greater Bendigo', 'Loddon', 'Mitchell', 'Gannawarra',
       'Swan Hill', 'Campaspe', 'Strathbogie', 'Greater Shepparton',
       'Moira', 'Murrindindi', 'Benalla', 'Wangaratta', 'Indigo',
       'Wodonga', 'Alpine', 'Towong', 'East Gippsland', 'Mansfield',
       'Baw Baw', 'Unincorporated Land (victoria)', 'Latrobe',
       'Wellington', 'Mornington Peninsula', 'Bass Coast',
       'South Gippsland'], dtype=object)

In [49]:
CrimeSuburbYearDF[(CrimeSuburbYearDF['Local Government Area_x'] == 0)]

Empty DataFrame
Columns: [postcode, suburb, lat, lon, Local Government Area_x, Region, Year, Local Government Area_y, A20, A50, A70, A80, A90, B10, B20, B30, B40, B50, B60, C10, C20, C30, C90, D10, D20, D30, D40, E10, E20, F10, F20, F30, F90]
Index: []

[0 rows x 33 columns]

In [50]:
CrimeSuburbYearDF=CrimeSuburbYearDF.drop(columns=['Local Government Area_y'])
CrimeSuburbYearDF=CrimeSuburbYearDF.rename(columns={'Local Government Area_x':'Local Government Area'})

In [52]:
CrimeSuburbYearDF.head()

,postcode,suburb,lat,lon,Local Government Area,Region,Year,A20,A50,A70,...,D10,D20,D30,D40,E10,E20,F10,F20,F30,F90
0,3000,melbourne,-37.814563,144.970267,Melbourne,Northern Metropolitan,2011,1032,116,99,...,232,3433,93,6,146,1064,0,13,36,3
1,3002,east melbourne,-37.816640,144.987811,Melbourne,Northern Metropolitan,2011,53,12,4,...,12,128,9,0,6,5,0,0,9,0
2,3003,west melbourne,-37.806255,144.941123,Melbourne,Northern Metropolitan,2011,54,9,3,...,20,81,6,0,3,3,0,2,1,2
3,3006,southbank,-37.823258,144.965926,Melbourne,Southern Metropolitan,2011,237,21,14,...,24,512,9,0,10,15,0,0,14,2
4,3008,docklands,-37.814719,144.948039,Melbourne,Southern Metropolitan,2011,113,7,8,...,27,350,12,0,12,5,0,4,6,3

In [57]:
crimetypeDFreset.head(3)

,Offence Subdivision code,Offence Subdivision,Offence Division code,Offence Division
0,A20,Assault and related offences,A,Crimes against the person
1,A50,Robbery,A,Crimes against the person
2,A70,"Stalking, harassment and threatening behaviour",A,Crimes against the person

In [54]:
subdiv=crimetypeDFreset['Offence Subdivision code'].tolist()
div=crimetypeDFreset['Offence Division code'].tolist()
CrimeSuburbYearDF['Total']=0

for x in div:
    CrimeSuburbYearDF[x]=0
    
for idx in range(len(subdiv)):
    CrimeSuburbYearDF[div[idx]]+=CrimeSuburbYearDF[subdiv[idx]]
    CrimeSuburbYearDF['Total']+=CrimeSuburbYearDF[subdiv[idx]]

In [56]:
CrimeSuburbYearDF.head(3)

,postcode,suburb,lat,lon,Local Government Area,Region,Year,A20,A50,A70,...,F20,F30,F90,Total,A,B,C,D,E,F
0,3000,melbourne,-37.814563,144.970267,Melbourne,Northern Metropolitan,2011,1032,116,99,...,13,36,3,14175,1414,7331,404,3764,1210,52
1,3002,east melbourne,-37.816640,144.987811,Melbourne,Northern Metropolitan,2011,53,12,4,...,0,9,0,753,76,476,32,149,11,9
2,3003,west melbourne,-37.806255,144.941123,Melbourne,Northern Metropolitan,2011,54,9,3,...,2,1,2,633,80,403,32,107,6,5

In [ ]:
client = pymongo.MongoClient("mongodb+srv://mahjong:mahjong@cluster0.pyqix.mongodb.net/vic_crime?retryWrites=true&w=majority")
vic_db = client['vic_crime']

In [ ]:
vic_db.vic_crime_db.drop()
vic_db.vic_crimetype_db.drop()

In [ ]:
vic_db.vic_crime_db.insert_many(CrimeSuburbYearDF.to_dict('records'))
vic_db.vic_crimetype_db.insert_many(crimetypeDFreset.to_dict('records'))

In [ ]:
test=vic_db.vic_crime_db.find({"postcode":3000})

In [ ]:
for x in vic_db.vic_crime_db.find({"postcode":3000,"Year":2020},{"_id":0,"A20":0}):
    print(x)

In [ ]:
lga_test=["Melbourne"]
match={
    'Local Government Area': {"$in": lga_test}
}

groupby = ["Local Government Area", "Year"]
sumby = ["Total"]
 
group = {
 '_id': ["$%s" % (x if x else None) for x in groupby],
 'Total': {'$sum': "$Total"}
}

for x in vic_db.vic_crime_db.aggregate([
    {"$match":match},
    {"$group":group}]
):
    print(x)

In [ ]:
crimetypeDFreset.to_csv('CrimeTypes.csv',index=False)

In [ ]:
CrimeSuburbYearDF.to_csv('CrimeSuburbYear.csv',index=False)